.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.5s ease;
    &:disabled {
        background: grey;
    }
  &.primary {
    background: var(--primaria);
    color: white;
    &:hover {
      background-color: var(--primaria-hover);
    }
  }
  &.secondary {
    background: var(--secundaria);
    color: white;
    &:hover {
      background-color: var(--secundaria-hover);
    }
  }
}
